.cta {
    .hero__richtext {
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            display: inline;

            @screen md {
                display: block;
            }

            @screen lg {
                font-size: 2.5rem;
                line-height: 2.75rem;
            }

            @screen xl {
                font-size: 2.75rem;
                line-height: 3rem;
            }

            @screen 2xl {
                font-size: 3.75rem;
                line-height: 4.5rem;
            }
        }
    }
    a.text-jw-green-1:hover{
        div {
            @apply border-jw-green-3;
        }
    }

    .Blue {
        @apply text-jw-blue-2;
    }
}