.legal-page{
    .close {
        background-image: url(../../assets/background/bgBtnClose.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
    }

    .bg_hero {
        clip-path: url(#trazado)
    }

    @media (max-width: 640px) {
        .bg_hero {
            clip-path: url(#trazado_m)
        }
    }
    .nav {
        &::-webkit-scrollbar {
            width: 0px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            background: transparent; 
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: transparent; 
        }
    }

    .richtext a {
        @apply text-jw-turquoise-1 underline font-semibold;
    }

}