@font-face {
    font-family: "Aeonik";
    src: url("../../assets/fonts/Aeonik/Aeonik-Bold.woff");
    font-weight: 700;
}
@font-face {
    font-family: "Aeonik";
    src: url("../../assets/fonts/Aeonik/Aeonik-BoldItalic.woff");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Aeonik";
    src: url("../../assets/fonts/Aeonik/Aeonik-Medium.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Aeonik";
    src: url("../../assets/fonts/Aeonik/Aeonik-Regular.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Aeonik";
    src: url("../../assets/fonts/Aeonik/Aeonik-RegularItalic.woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Aeonik";
    src: url("../../assets/fonts/Aeonik/Aeonik-Light.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Aeonik";
    src: url("../../assets/fonts/Aeonik/Aeonik-LightItalic.woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-Bold-02.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-BoldItalic-04.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-Medium-11.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-MediumItalic-12.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-01.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-Italic-03.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-Light-08.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-LightItalic-09.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-UltraLight-06.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-UltraLightItalic-07.ttf");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-Thin-13.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../../assets/fonts/Helvetica/HelveticaNeue-ThinItalic-14.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-Bold.otf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-Demi.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-DemiItalic.otf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-BookAlt.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-BookItalicAlt.otf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-Book.otf");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-BookItalic.otf");
    font-weight: 350;
    font-style: italic;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Text";
    src: url("../../assets/fonts/Neutraface\ Text/NeutrafaceText-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: "Neutraface Display";
    src: url("../../assets/fonts/Neutraface\ Display/NeutrafaceDisplay-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Display";
    src: url("../../assets/fonts/Neutraface\ Display/NeutrafaceDisplay-Medium.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Display";
    src: url("../../assets/fonts/Neutraface\ Display/NeutrafaceDisplay-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Display";
    src: url("../../assets/fonts/Neutraface\ Display/NeutrafaceDisplay-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Display";
    src: url("../../assets/fonts/Neutraface\ Display/NeutrafaceDisplay-Thin.otf");
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: "Neutraface Display Titling";
    src: url("../../assets/fonts/Neutraface\ Display/NeutrafaceDisplay-Titling.otf");
}

@font-face {
    font-family: "Neutraface Display Numerals";
    src: url("../../assets/fonts/Neutraface\ Display/NeutrafaceDisplay-Numerals.otf");
}

@font-face {
    font-family: "Neutraface Condensed";
    src: url("../../assets/fonts/Neutraface\ Condensed/NeutrafaceCondensed-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Condensed";
    src: url("../../assets/fonts/Neutraface\ Condensed/NeutrafaceCondensed-Medium.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Condensed";
    src: url("../../assets/fonts/Neutraface\ Condensed/NeutrafaceCondensed-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Condensed";
    src: url("../../assets/fonts/Neutraface\ Condensed/NeutrafaceCondensed-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Neutraface Condensed";
    src: url("../../assets/fonts/Neutraface\ Condensed/NeutrafaceCondensed-Thin.otf");
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: "Neutraface Condensed Titling";
    src: url("../../assets/fonts/Neutraface\ Condensed/NeutrafaceCondensed-Titling.otf");
}