@import 'base/prismic.scss';
@import 'components/heroVideo.scss';
@import 'components/headerNavigation.scss';

header {
    transition: background .4s ease;

    #nav-links{
        animation : t_nav .5s;
    }

    .close #nav-links{
        animation : t_nav_close .5s;
        transform: translateY(-100%);
    }

    #header-nav{
        animation : t_nav_opacity .5s;
        height: auto;
    }

    #header-nav.close{
        animation : t_nav_opacity_close 2s;
        height: 0;
    }
    
    @keyframes t_nav {
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
    }

    @keyframes t_nav_close {
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-100%);
        }
    }

    @keyframes t_nav_opacity {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    @keyframes t_nav_opacity_close {
        0%{
            opacity: 1;
            display: block;
        }
        99%{
            opacity: 0;
        }
        100%{
            display: none;
        }
    }
}

.logo-blue img{
    width: 3rem !important;
    height: 3rem !important;
}

.fixed .logo-blue img{
    width: 2rem !important;
    height: 2rem !important;
}

.bg-header-mobile{
    background-image: url(../assets/background/header-mobile.svg);
    background-position: 35% 75%;
    background-repeat: no-repeat;
    background-size: 160% 140%;

    @media (orientation: landscape){
        background-position: 35% 120%;
        background-size: 141%;
    }
}

.footer {
    background-image: url(../assets/background/footer-bottom.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    
    @media (max-width: 420px){
        &__store{
            flex-direction: column;
            align-items: center;
        }

        &__policies{
            flex-direction: column;
            align-items: center;
            row-gap: 1rem;

            div:first-child{
                order: 2;
            }

            div:last-child{
                order: 1;
            }
        }
    }
    

    @screen md{
        background-image: none;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    &__text-made strong{
        @apply text-jw-green-2;
        font-weight: bold;
    }

    &__container{
        @apply relative;

    }
    @media (min-width: 768px) and (max-width: 1279px){
        &:after{
            @apply absolute w-full h-4 py-6 bg-jw-green-5;
            content: '';
            bottom: -2.9rem;

        }
    }


}

footer.fixed {
    bottom: 0;
    z-index: 10;
    width: 100%;
}

footer:not(.fixed) {
    @media (max-width: 767px){
        @apply bg-jw-dark-blue;
        background-image: none;
    }
}
.bg-footer{
    @screen md{
        background-image: url(../assets/background/footer.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}